body{
    background: url(images/download.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
}
 .wrapper{
     text-align: center;
     height: 413px;
     width: 400px;;
     background: #afdecd;
     position: absolute;
     left: 455px;
      top: 124px;

 }